/* -------------------GLOBAL------------------- */

:root {
  /* Text colors */
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --fourth-text-color: rgba(255, 255, 255, 0.6);

  /* Block colors */
  --first-block-color: #2f303a;
  --second-block-color: #f5f4fa;
  --third-block-color: #ffffff;

  /* Border colors */
  --boder-color: #eeeeee;

  /* Container size */
  --container-size: 1200px;
  --container-padding: 15px;

  /* Cubic-bezier */
  --cubic-value: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  /* flood-color: var(--main-text-color); */
  color: var(--main-text-color);
  background: var(--third-block-color);
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container > h2 {
  margin-bottom: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-size);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

/* -------------------HEADER------------------- */

.nav {
  border-bottom: 1px solid #ececec;
}

.nav .container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-right-header {
  color: var(--main-text-color);
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 32px 0;
  transition: color 250ms var(--cubic-value);
}

.nav-link.current {
  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  box-sizing: border-box;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.header-ico {
  fill: currentColor;
  margin-right: 10px;
  padding: 0;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

/* .contact-item {
} */

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms var(--cubic-value);
}

/* -------------------HERO------------------- */

.hero {
  background-color: var(--first-block-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: bottom; */
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container > h1 {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--third-text-color);

  min-width: 200px;
  height: 50px;

  padding-right: 32px;
  padding-left: 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------------REASONS------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.reason-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.container-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reason-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.reason-content {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}

/* -------------------WORKS------------------- */

.section:nth-child(3) {
  padding-top: 0;
}

.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.works-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.works-img {
  display: block;
  min-width: 100%;
  height: auto;
}

.works-img-thumb {
  position: relative;
}

.works-img-title {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

/* -------------------TEAM------------------- */

.section:nth-child(4) {
  background-color: var(--second-block-color);
}

.team-item {
  background-color: var(--third-block-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.team-item-photo {
  display: block;
}

.team-item-text {
  padding: 30px 32px;
}

.team-person-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}

.team-person-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms var(--cubic-value), color 250ms var(--cubic-value);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-social-icon {
  fill: currentColor;
}

/* ------------------- CLIENTS------------------- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 6 * 30px) / 6);
}

.clients-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms var(--cubic-value), color 250ms var(--cubic-value);
}

.clients-item-link:hover,
.clients-item-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-item-icon {
  /* fill: #afb1b8; */
  fill: currentColor;
}

/* -------------------FOOTER------------------- */

/* FOOTER CONTACTS */

.footer {
  background-color: var(--first-block-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-right-footer {
  color: var(--third-text-color);
}

.footer-list {
  margin: 20px 0 0 0;
}

.footer-contacts {
  font-style: inherit;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
  transition: color 250ms var(--cubic-value);
}

.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--fourth-text-color);
  transition: color 250ms var(--cubic-value);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus,
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

.footer-contacts-container {
  margin-right: 70px;
}

.footer-contacts-item + .footer-contacts-item {
  margin-top: 9px;
}

/* FOOTER SOCIAL */

.footer-social {
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #44454e;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: var(--third-text-color);
  transition: background-color 250ms var(--cubic-value);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

/* FOOTER MAILING */

.footer-mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.footer-mailing-form {
  display: flex;
  position: relative;
}

.footer-mailing-email {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  padding: 15px 16px;
  margin-right: 12px;
}

.footer-mailing-submit {
  display: flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 6px;
  min-width: 200px;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  color: var(--third-text-color);
}

/* .footer-mailing-submit::after {
  content: '';
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-image: url('../images/icon-send.svg');
  background-repeat: no-repeat;
} */

/* .form-button-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--third-text-color);
} */

.mailing-submit-icon {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  margin-left: 10px;
  fill: var(--third-text-color);
}

/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--cubic-value);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  /* height: 581px; */
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--third-block-color);
  transition: transform 250ms var(--cubic-value);
}

.modal-button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--third-block-color);
  border-radius: 50%;
  transition: fill 250ms var(--cubic-value);
}

.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 10px;
  /* transition: fill 250ms var(--cubic-value); */
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--second-text-color);
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms var(--cubic-value);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition: fill 250ms var(--cubic-value);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  font-family: inherit;
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic-value);
}

.form-textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-chekbox {
  margin-top: 20px;
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.form-label-link {
  color: var(--accent-color);
  margin-left: 4px;
}

.checkbox-icon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  margin-left: 13px;

  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic-value), background-color 250ms var(--cubic-value),
    background-color 250ms var(--cubic-value), border-color 250ms var(--cubic-value);
}

.form-checkbox-label:hover + .checkbox-icon,
.checkbox:hover + .checkbox-icon,
.checkbox:focus + .checkbox-icon {
  border-color: #2196f3;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url('../images/checkbox-checked.svg');
  background-size: contain;
  background-origin: content-box;
  border-color: #2196f3;
}

.form-button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 6px;
  min-width: 200px;

  background-color: var(--accent-color);
  color: var(--third-text-color);
}

/* ==========page PORTFOLIO========== */

/* -------------------PROJECTS------------------- */

.projects-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects-filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  transition: background-color 250ms var(--cubic-value), color 250ms var(--cubic-value),
    box-shadow 250ms var(--cubic-value);
}

.projects-filter-btn.current,
.projects-filter-btn:hover,
.projects-filter-btn:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.projects-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.project-image-thumb {
  position: relative;
  overflow: hidden;
}

.project-item-link {
  display: block;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic-value);
}

.project-item-link:hover,
.project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image {
  display: block;
}

.project-image-title {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--cubic-value);
}

.project-item-link:hover .project-image-title,
.project-item-link:focus .project-image-title {
  transform: translateY(-100%);
}

.projects-item-text {
  padding: 20px 24px;
  background-color: var(--third-block-color);
  border-left: 1px solid var(--boder-color);
  border-right: 1px solid var(--boder-color);
  border-bottom: 1px solid var(--boder-color);
}

.projects-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.projects-item-content {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
}
